.nav{
    background-color: aqua;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content:space-between ;
    padding-left: 60px;
    padding-right: 60px;
}

.nav .left ul{
    list-style: none;
    text-decoration: none;
    display: flex;
    flex-direction: row;
}

.nav .left ul li{
    padding-left: 20px;
}
.maincontent{
    background-color:bisque;
    height: 93vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.maincontent .text p{
    display: block;
}


